/* =================
   Typography
   ================= */

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  font-weight: 900;
  color: #f18119;
  margin-top: 30px;
  text-transform: uppercase;
}

/* =================
   Intro section
   ================= */

.intro {
  background-image: url(../images/aboveTheFold.jpg);
  background-color: #706d65;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
}

/* =================
   main-content section
   ================= */

.main-content {
  padding: 2em 1em;
  background-color: #fafafa;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}
.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}
/* =================
   Button
   ================= */

.btn-collector {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.btn {
  width: 100%;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: #f29057;
  color: white;
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}
/* =================
   media queries
   ================= */

@media (min-width: 500px) {
  h1 + p {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .container-intro {
    height: 100%;
  }
}
